[user]
    name = Klemen Košir
    email = klemen.kosir@kream.io
    signingkey = 1A1E63D70E656B8B

[core]
    editor = vim
    excludesfile = ~/.gitignore-global
    autocrlf = input
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[color]
    ui = true

[pull]
    ff = only

[commit]
    gpgsign = true

[advice]
    statusHints = false
